%li
  .collapsible-header
    = image_tag preview.icon_link, class: 'left img-responsive'
    %b= preview.name
    &nbsp;
    = preview.price
    %span{class: "badge margin #{preview.margin_style}"}
      = preview.margin
      = preview.roi

  .collapsible-body
    %span
      %b Buy price:
      = preview.recommended_buy
      %br
      %b Sell price:
      = preview.recommended_sell
      %br
      %b Margin:
      = preview.margin
      %br
      %b Traded:
      = preview.traded
      %br
      %a.btn.waves-effect.waves-light.green.darken-2{href: item_path(preview.runescape_id)}
        %i.material-icons.right send
        View Item
