%a.collection-item.avatar{href: item_path(preview.runescape_id)}
  = image_tag preview.icon_link, class: 'circle', alt: preview.name
  %span.title.black-text
    = preview.name
    %small= preview.price
    %small.right.grey-text.text-darken-2 Traded: #{preview.traded}
  %p{class: "#{preview.margin_style}"}
    .chip.green-text
      +
      = preview.margin
    .chip.green-text
      = preview.roi
