%ul#group-dropdown.dropdown-content
  %li
    = link_to 'Most traded', most_traded_path
  %li
    = link_to 'Top flips', top_flips_path
  %li.divider
  %li
    = link_to 'Barrows Items', barrows_items_path
  %li
    = link_to 'Zulrah', zulrah_path
  %li
    = link_to 'Potions', potions_path
  %li
    = link_to 'Ores', ores_path
  %li
    = link_to 'Food', food_path
  %li
    = link_to 'Free', free_path
%ul#sort-dropdown.dropdown-content
  %li
    = link_to 'Traded', items_sort_by_path('traded'), method: :put
  %li
    = link_to 'ROI %', items_sort_by_path('roi'), method: :put
  %li
    = link_to 'Margin', items_sort_by_path('margin'), method: :put
  %li
    = link_to 'Traded and ROI', items_sort_by_path('traded_roi'), method: :put
.row
  = render 'search'
  .col.s12
    .card
      .card-content
        %span.card-title
          - if @search
            Search Results
            (
            = @items.count
            )
          - else
            Items
          %span.right
            %a.dropdown-btn.btn.green{href: '#', 'data-activates' => 'group-dropdown'}
              Groups
              %i.material-icons.right arrow_drop_down
            %a.dropdown-btn.btn.green{href: '#', 'data-activates' => 'sort-dropdown'}
              Sort by
              %i.material-icons.right arrow_drop_down
            = link_to 'Refresh', '', class: 'btn green'
        %br
        %ul.collection
          - if @items.empty?
            %li.collection-item Sorry, nothing found :(
          - else
            = render partial: 'preview', collection: @items, cached: true

.fixed-action-btn
  %a#back-to-top.btn-floating.btn-large.red.scale-transition
    %i.large.material-icons keyboard_arrow_up
