.row
  .col.s12.center
    %h2 Item view
  = render 'home/search'
  .col.s12
    .card
      .card-content
        - cache @item do
          %span.card-title.center
            = @item.name
            = image_tag @item.icon_link, class: 'right img-responsive'
          %b Buy price:
          = @item.recommended_buy
          (
          = @item.buy_price
          )
          %br
          %b Sell price:
          = @item.recommended_sell
          (
          = @item.sell_price
          )
          %br
          %b Margin:
          = @item.margin
          %br
          %b ROI:
          = @item.roi_raw
          %br
          %b Traded:
          %br
          %b Last updated:
          = @item.updated
        .card-tabs
          %ul.tabs
            %li.tab
              %a.active{href: '#month'} Month
            %li.tab
              %a{href: '#week'} Week
            %li.tab
              %a{href: '#three'} Three days
            %li.tab
              %a{href: '#daily'} Today
        .card-content
          #daily
            = line_chart daily_path(@item.runescape_id), label: 'Price', height: '800px', min: nil, library: { pointSize: 0, trendlines: {'0' => {type: 'polynomial', degree: 2}} }, legend: true
          #three
            = line_chart three_path(@item.runescape_id), label: 'Price', height: '800px', min: nil, library: { pointSize: 0, trendlines: {'0' => {type: 'polynomial', degree: 2}} }, legend: true
          #week
            = line_chart week_path(@item.runescape_id), label: 'Price', height: '800px', min: nil, library: { pointSize: 0, trendlines: {'0' => {type: 'polynomial', degree: 2}} }, legend: true
          #month
            = line_chart month_path(@item.runescape_id), label: 'Price', height: '800px', min: nil, library: { pointSize: 0, trendlines: {'0' => {type: 'polynomial', degree: 2}} }, legend: true
      - unless @item.timed_out?
        .card-action
          -# = link_to 'Refresh', refresh_path(@item.runescape_id)
          %form{action: refresh_path(@item.runescape_id), method: 'post'}
            -# %a.tooltipped{type: 'submit', 'data-position' => 'top', 'data-delay' => 50, 'data-tooltip' => 'ONLY PRESS ME IF THE GRAPH IS BROKEN!'} Refresh
            %button#refresh-button.btn.waves-effect.waves-light.green.darken-2{type: 'submit', name: 'action', 'data-name' => @item.name} Refresh
