.row
  .col.s12.center
    %h2 Item view
  = render 'home/search'
  .col.s12
    .card
      .card-content
        - cache @item do
          %span.card-title.center
            = @item.name
            = image_tag @item.icon_link, class: 'right img-responsive'
          %b Buy price:
          = number_to_currency(@item.buy_price, unit: 'gp', format: '%n %u', precision: 0)
          %br
          %b Sell price:
          = number_to_currency(@item.sell_price, unit: 'gp', format: '%n %u', precision: 0)
          %br
          %b Margin:
          = number_to_currency(@item.margin, unit: 'gp', format: '%n %u', precision: 0)
        .card-tabs
          %ul.tabs
            %li.tab
              %a.active{href: '#month'} Month
            %li.tab
              %a{href: '#week'} Week
            %li.tab
              %a{href: '#three'} Three days
            %li.tab
              %a{href: '#daily'} Today
        .card-content
          #daily
            = line_chart daily_path(@item.runescape_id), label: 'Price', legend: true, height: '800px', min: nil, library: { pointSize: 0 }
          #three
            = line_chart three_path(@item.runescape_id), label: 'Price', legend: true, height: '800px', min: nil, library: { pointSize: 0 }
          #week
            = line_chart week_path(@item.runescape_id), label: 'Price', legend: true, height: '800px', min: nil, library: { pointSize: 0 }
          #month
            = line_chart month_path(@item.runescape_id), label: 'Price', height: '800px', min: nil, library: { pointSize: 0 }, legend: true
      - unless @item.timed_out?
        .card-action
          -# = link_to 'Refresh', refresh_path(@item.runescape_id)
          %form{action: refresh_path(@item.runescape_id), method: 'post'}
            -# %a.tooltipped{type: 'submit', 'data-position' => 'top', 'data-delay' => 50, 'data-tooltip' => 'ONLY PRESS ME IF THE GRAPH IS BROKEN!'} Refresh
            %button.btn.waves-effect.waves-light{type: 'submit', name: 'action'} Refresh
