= render 'home/search'
.row
  .col.s12
    %h4#item-title{title: "Last updated #{@item.updated}"}
      = @item.name
      .right
        %img#item-icon.img-responsive{src: @item.icon_link, alt: @item.name}
        - if user_signed_in?
          %a#favourite-link.waves-effect{href: '#', 'data-url' => favourite_path}
            %i.material-icons.small
              - if current_user.favourited? @item
                favorite
              - else
                favorite_border
.row.card-balance
  .col.l3.m6.s12
    .card.orange.fill
      .card-content
        -# %span.card-title Price
        .flow-text
          Buy:
          %span{ title: @item.buy_price }= @item.recommended_buy
          %br
          Sell:
          %span{ title: @item.sell_price }= @item.recommended_sell
  .col.l3.m6.s12
    .card.yellow.lighten-1.fill
      .card-content
        %span.card-title Margin
        .flow-text
          = @item.margin
  .col.l3.m6.s12
    .card.light-green.fill
      .card-content
        %span.card-title Return on Investment
        .flow-text
          = @item.roi
  .col.l3.m6.s12
    .card.indigo.lighten-2.fill
      .card-content
        %span.card-title Amount Traded
        .flow-text
          = @item.traded
.row
  .col.s12
    .card
      .card-tabs
        %ul.tabs.tabs-fixed-width
          %li.tab
            %a.active{href: '#month'} Month
          %li.tab
            %a{href: '#week'} Week
          %li.tab
            %a{href: '#three'} Three days
          %li.tab
            %a{href: '#daily'} Today
      .card-content
        #daily
          = line_chart daily_path(@item.runescape_id), label: 'Price', height: '800px', min: nil, library: { pointSize: 0, trendlines: {'0' => {type: 'polynomial', degree: 2}}, curveType: 'none' }, legend: true
        #three
          = line_chart three_path(@item.runescape_id), label: 'Price', height: '800px', min: nil, library: { pointSize: 0, trendlines: {'0' => {type: 'polynomial', degree: 2}}, curveType: 'none' }, legend: true
        #week
          = line_chart week_path(@item.runescape_id), label: 'Price', height: '800px', min: nil, library: { pointSize: 0, trendlines: {'0' => {type: 'polynomial', degree: 2}}, curveType: 'none' }, legend: true
        #month
          = line_chart month_path(@item.runescape_id), label: 'Price', height: '800px', min: nil, library: { pointSize: 0, trendlines: {'0' => {type: 'polynomial', degree: 2}}, curveType: 'none' }, legend: true
