!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Getracker
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.green.darken-2
      .nav-wrapper
        %a.brand-logo.center{:href => root_path} Ge-Analyzer
        %a.button-collapse{"data-activates" => "mobilenav", :href => "#"}
          %i.material-icons menu
        %ul.right.hide-on-med-and-down
          = render 'navbar'
        %ul#mobilenav.side-nav
          = render 'navbar'
    .container
      = yield
